<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/third/bootstrap.min.css">
    <link rel="stylesheet" href="/css/own/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/script/third/angular.min.js"></script>
</head>
<body ng-app="routingApp">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!--首页图标-->
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="/images/nav-logo.png">
            <a class="navbar-brand" href="hello">美好网</a>
        </div>
        <!--导航内容-->
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="hidden-sm hidden-md"><a href="#/article">文章</a></li>
                <li><a href="#/work">工作</a></li>
                <li><a href="#/data">数据</a></li>
                <li><a href="#/manage">管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#/signin">登录</a></li>
            </ul>
        </div>
    </div>
</div>