<div style="margin-top: 120px">
    <!--左侧导航列表-->
    <div class="row">
        <div class="col-lg-1 modal-content">
            左边栏<br />
            左边栏<br />
            左边栏<br />
            左边栏<br />
            左边栏<br />
        </div>
        <!--右侧内容区-->
        <div class="col-lg-11 modal-content">
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
            右侧内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。<br />
        </div>
    </div>
</div>